# <center>AIM 5001 Project 1 (M5) (100 Points)</center>
# <center>Text Processing</center>
### <center>Sheng Han Yueh / Chi Kuang Chen</center>

## Part 1: Regular Expressions (30 Points)
Text data is often in need of “cleaning” and preparation before it can be effectively used for analysis purposes. Consider the following poorly formatted text string containing names and phone numbers of some residents of the town of Springfield:

__"555-1239Dr. Anthony Fauci(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Scott555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"__

Use your Python regular expression (“regex”) skills to complete the following tasks:

### 1. (6 Points) Extract the names of each individual from the unformatted text string shown above and store them in a vector of some sort. When complete, your vector should contain the following entries:

"Dr. Anthony Fauci" "Hollingdorp, Donnatella" "Fitzgerald, F. Scott" "Rev. Martin Luther King" "Snodgrass, Theodore" "Carlamina Scarfoni"

In [1]:
import re

In [2]:
# to extract all the names in the text. re.findall will find all the matched names and put them into a list 
text="555-1239Dr. Anthony Fauci(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Scott555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"
match_all=(re.findall('[a-zA-Z\.,\s]+[a-zA-Z\.]+',text))
print(match_all)

['Dr. Anthony Fauci', 'Hollingdorp, Donnatella', 'Fitzgerald, F. Scott', 'Rev. Martin Luther King', 'Snodgrass, Theodore', 'Carlamina Scarfoni']

### 2. Using your new vector containing only the names of the six individuals, complete the following tasks:

### a. (4 Points) Use your regex skills to rearrange the vector so that all elements conform to the standard “firstname lastname”, preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names.

In [3]:
# Use the result from Q1, match_all, to rearrange. 
for i in range(len(match_all)):
    match=re.search('([a-zA-Z]+), ([a-zA-Z\.\s]+)',match_all[i])
    if match: # means if match != None
        last, fisrt=match.group(1),match.group(2)
        #print(type(last)) 
        match_all[i]=fisrt+' '+last
print(match_all)

['Dr. Anthony Fauci', 'Donnatella Hollingdorp', 'F. Scott Fitzgerald', 'Rev. Martin Luther King', 'Theodore Snodgrass', 'Carlamina Scarfoni']

### b. (4 Points) Using your regex skills, construct a logical vector indicating whether a character has a title (i.e., Rev. and Dr.).

In [4]:
# The format of title is a capital letter followed by a few small letters and a dot.
logical_vector=[]
for i in range(len(match_all)):
    logical_vector.append(bool(re.search('[A-Z][a-z]+[\.]',match_all[i])))
print('whether a character has a title:',logical_vector)

whether a character has a title: [True, False, False, True, False, False]

### c. (4 Points) Using your regex skills, construct a logical vector indicating whether a character has a middle/second name.

In [5]:
# Utilize the number of spaces to find whether have a middle name or not.
logical_vector=[]
for i in range(len(match_all)):
    match=bool(re.search('[A-Z][a-z]+[\.]',match_all[i])) 
    if not match: # if the name did not contain title, then there should have 2 spaces during a string of character
        logical_vector.append(bool(re.search('.+\s.+\s.+',match_all[i])))
    else:            # if the name contained title, then there should have 3 spaces during a string of character
        logical_vector.append(bool(re.search('.+\s.+\s.+\s.+',match_all[i])))
print('whether a character has a middle/second name:',logical_vector)

whether a character has a middle/second name: [False, False, True, True, False, False]

### 3. (6 Points) Consider the HTML string \<title>+++BREAKING NEWS+++\<title>. We would like to extract the first HTML tag (i.e., “\<title>”). To do so we write the regular expression “<.+>”. Explain why this fails and correct the expression.

__Ans: Since the "." in “<.+>” means every character, and letters (a-z or A-Z) and signs ("<" , ">" , "+") in this case are all characters, we will extract the whole length of the string when search with “<.+>”. By substituting "." with [a-z] and with "^" in the first place will extract the first HTML tag since we restrict it to search only small letters that start with "<" and end with ">". 
The code is as the following.__

In [6]:
string='<title>+++BREAKING NEWS+++<title>.'
print(re.search('^<[a-z]+>',string))

<re.Match object; span=(0, 7), match='<title>'>

### 4. (6 Points) Consider the string “(5-3)^2=5^2-2\*5\*3+3^2” conforms to the binomial theorem. We would like to extract the equation in its entirety from the string. To do so we write the regular expression “[^0-9=+*()]+”. Explain why this fails and correct the expression.

__Ans: Some characters have specific function in regex. Ex: "^":search string starts with; "-" in 0-9: represent a range; "*":search string with zero or more occurrences;"()": capture and group. As a result, we need to add "\\" before these characters to escape the function. For instance: "\\^": will search for the character "^", not for searching string start with. To extract the whole equation, the code is as the following.__

In [7]:
string='(5-3)^2=5^2-2*5*3+3^2'
print(re.search('[\^0-9=+\*\(\)-]+',string))

<re.Match object; span=(0, 21), match='(5-3)^2=5^2-2*5*3+3^2'>

===========================================================================================================================
## Part 2: Analyzing Chess Tournament Results (70 Points)
For Part 2 of Project 1, you’re given a text file (“Project1.txt”) with chess tournament results where the information has some structure. Your job is to create a Jupyter Notebook that generates a .CSV file with the following information for each of the chess players:

Player’s Name, Player’s State, Total Number of Points, Player’s Pre-Rating, and Average Pre Tournament Chess Rating of Opponents

For the first player shown in the file excerpt below, that information would be:

__Gary Hua, ON, 6.0, 1794, 1605__

His “Average Pre Tournament Chess Rating of Opponents” score of 1605 was calculated by using the pre-tournament opponents’ ratings of 1436, 1563, 1600, 1610, 1649, 1663, 1716, and dividing by the total number of games played.

For each player we are provided with the total points they’ve won during the tournament and details on the results of their seven rounds of play. For each round we are given the unique ID of their opponent (an integer value) and an indicator of whether they won (‘W’), lost (‘L’), achieved a draw (‘D’), had a bye for that round (‘B’), or were unable to compete (‘U’).

If you have questions about the meaning of the remainder of the data or the results, please post them in the weekly Discussion Forum. Data science, like chess, is a game of back and forth…

The chess rating system (invented by a Minnesota statistician named Arpad Elo) has been used in many other contexts, including assessing the relative strength of employment candidates by human resource departments.

Be sure to include some commentary in __formatted Markdown cells__ explaining your approach to solving each of the individual problems. Save all of your work for this project within __a single Jupyter Notebook__ upload / submit it within the provided Project 1 Canvas submission portal. Be sure to save your Notebook using the following nomenclature : __first initial_last name_project1" (e.g., J_Smith_project1)__. __Small groups should identity all group members at the start of the Jupyter Notebook and each team member should submit their own copy of the team’s work within Canvas.__

Excerpt from text file:

__Part 2 Grading Rubric__: you'll receive __up to 50 points__ if you successfully write the player name and total points into a pandas DataFrame, then into a .CSV file. You’ll receive __up to 60 points__ if you also successfully process the information from the second line for each player: state and pre-tournament rating. __To get the full 70 points for Part 2__, you will also need to successfully calculate and process the average pre-tournament rating for each player’s opponents.

## Our team used two different approaches to solve this question. The first one uses the list to extract and the other one uses dataframe to extract.

## Part 2 - Attempt 1
Attempt 1 utilized lists to store the content of the table. We extract the information with for loop.

In [8]:
import pandas as pd

In [9]:
#read the file and store the line by line into a list
with open('Project1.txt') as f:
    lines = f.readlines()
lines = [line.rstrip() for line in lines if '--' not in line] # skip the dashed line 
for i in lines:
    print(i)
    print()

 Pair | Player Name                     |Total|Round|Round|Round|Round|Round|Round|Round|

 Num  | USCF ID / Rtg (Pre->Post)       | Pts |  1  |  2  |  3  |  4  |  5  |  6  |  7  |

    1 | GARY HUA                        |6.0  |W  39|W  21|W  18|W  14|W   7|D  12|D   4|

   ON | 15445895 / R: 1794   ->1817     |N:2  |W    |B    |W    |B    |W    |B    |W    |

    2 | DAKSHESH DARURI                 |6.0  |W  63|W  58|L   4|W  17|W  16|W  20|W   7|

   MI | 14598900 / R: 1553   ->1663     |N:2  |B    |W    |B    |W    |B    |W    |B    |

    3 | ADITYA BAJAJ                    |6.0  |L   8|W  61|W  25|W  21|W  11|W  13|W  12|

   MI | 14959604 / R: 1384   ->1640     |N:2  |W    |B    |W    |B    |W    |B    |W    |

    4 | PATRICK H SCHILLING             |5.5  |W  23|D  28|W   2|W  26|D   5|W  19|D   1|

   MI | 12616049 / R: 1716   ->1744     |N:2  |W    |B    |W    |B    |W    |B    |B    |

    5 | HANSHI ZUO                      |5.5  |W  45|W  37|D  12|D  13|D   4|W  14|W  17|

   MI | 14601533 / R: 1655   ->1690     |N:2  |B    |W    |B    |W    |B    |W    |B    |

    6 | HANSEN SONG                     |5.0  |W  34|D  29|L  11|W  35|D  10|W  27|W  21|

   OH | 15055204 / R: 1686   ->1687     |N:3  |W    |B    |W    |B    |B    |W    |B    |

    7 | GARY DEE SWATHELL               |5.0  |W  57|W  46|W  13|W  11|L   1|W   9|L   2|

   MI | 11146376 / R: 1649   ->1673     |N:3  |W    |B    |W    |B    |B    |W    |W    |

    8 | EZEKIEL HOUGHTON                |5.0  |W   3|W  32|L  14|L   9|W  47|W  28|W  19|

   MI | 15142253 / R: 1641P17->1657P24  |N:3  |B    |W    |B    |W    |B    |W    |W    |

    9 | STEFANO LEE                     |5.0  |W  25|L  18|W  59|W   8|W  26|L   7|W  20|

   ON | 14954524 / R: 1411   ->1564     |N:2  |W    |B    |W    |B    |W    |B    |B    |

   10 | ANVIT RAO                       |5.0  |D  16|L  19|W  55|W  31|D   6|W  25|W  18|

   MI | 14150362 / R: 1365   ->1544     |N:3  |W    |W    |B    |B    |W    |B    |W    |

   11 | CAMERON WILLIAM MC LEMAN        |4.5  |D  38|W  56|W   6|L   7|L   3|W  34|W  26|

   MI | 12581589 / R: 1712   ->1696     |N:3  |B    |W    |B    |W    |B    |W    |B    |

   12 | KENNETH J TACK                  |4.5  |W  42|W  33|D   5|W  38|H    |D   1|L   3|

   MI | 12681257 / R: 1663   ->1670     |N:3  |W    |B    |W    |B    |     |W    |B    |

   13 | TORRANCE HENRY JR               |4.5  |W  36|W  27|L   7|D   5|W  33|L   3|W  32|

   MI | 15082995 / R: 1666   ->1662     |N:3  |B    |W    |B    |B    |W    |W    |B    |

   14 | BRADLEY SHAW                    |4.5  |W  54|W  44|W   8|L   1|D  27|L   5|W  31|

   MI | 10131499 / R: 1610   ->1618     |N:3  |W    |B    |W    |W    |B    |B    |W    |

   15 | ZACHARY JAMES HOUGHTON          |4.5  |D  19|L  16|W  30|L  22|W  54|W  33|W  38|

   MI | 15619130 / R: 1220P13->1416P20  |N:3  |B    |B    |W    |W    |B    |B    |W    |

   16 | MIKE NIKITIN                    |4.0  |D  10|W  15|H    |W  39|L   2|W  36|U    |

   MI | 10295068 / R: 1604   ->1613     |N:3  |B    |W    |     |B    |W    |B    |     |

   17 | RONALD GRZEGORCZYK              |4.0  |W  48|W  41|L  26|L   2|W  23|W  22|L   5|

   MI | 10297702 / R: 1629   ->1610     |N:3  |W    |B    |W    |B    |W    |B    |W    |

   18 | DAVID SUNDEEN                   |4.0  |W  47|W   9|L   1|W  32|L  19|W  38|L  10|

   MI | 11342094 / R: 1600   ->1600     |N:3  |B    |W    |B    |W    |B    |W    |B    |

   19 | DIPANKAR ROY                    |4.0  |D  15|W  10|W  52|D  28|W  18|L   4|L   8|

   MI | 14862333 / R: 1564   ->1570     |N:3  |W    |B    |W    |B    |W    |W    |B    |

   20 | JASON ZHENG                     |4.0  |L  40|W  49|W  23|W  41|W  28|L   2|L   9|

   MI | 14529060 / R: 1595   ->1569     |N:4  |W    |B    |W    |B    |W    |B    |W    |

   21 | DINH DANG BUI                   |4.0  |W  43|L   1|W  47|L   3|W  40|W  39|L   6|

   ON | 15495066 / R: 1563P22->1562     |N:3  |B    |W    |B    |W    |W    |B    |W    |

   22 | EUGENE L MCCLURE                |4.0  |W  64|D  52|L  28|W  15|H    |L  17|W  40|

   MI | 12405534 / R: 1555   ->1529     |N:4  |W    |B    |W    |B    |     |W    |B    |

   23 | ALAN BUI                        |4.0  |L   4|W  43|L  20|W  58|L  17|W  37|W  46|

   ON | 15030142 / R: 1363   ->1371     |     |B    |W    |B    |W    |B    |W    |B    |

   24 | MICHAEL R ALDRICH               |4.0  |L  28|L  47|W  43|L  25|W  60|W  44|W  39|

   MI | 13469010 / R: 1229   ->1300     |N:4  |B    |W    |B    |B    |W    |W    |B    |

   25 | LOREN SCHWIEBERT                |3.5  |L   9|W  53|L   3|W  24|D  34|L  10|W  47|

   MI | 12486656 / R: 1745   ->1681     |N:4  |B    |W    |B    |W    |B    |W    |B    |

   26 | MAX ZHU                         |3.5  |W  49|W  40|W  17|L   4|L   9|D  32|L  11|

   ON | 15131520 / R: 1579   ->1564     |N:4  |B    |W    |B    |W    |B    |W    |W    |

   27 | GAURAV GIDWANI                  |3.5  |W  51|L  13|W  46|W  37|D  14|L   6|U    |

   MI | 14476567 / R: 1552   ->1539     |N:4  |W    |B    |W    |B    |W    |B    |     |

   28 | SOFIA ADINA STANESCU-BELLU      |3.5  |W  24|D   4|W  22|D  19|L  20|L   8|D  36|

   MI | 14882954 / R: 1507   ->1513     |N:3  |W    |W    |B    |W    |B    |B    |W    |

   29 | CHIEDOZIE OKORIE                |3.5  |W  50|D   6|L  38|L  34|W  52|W  48|U    |

   MI | 15323285 / R: 1602P6 ->1508P12  |N:4  |B    |W    |B    |W    |W    |B    |     |

   30 | GEORGE AVERY JONES              |3.5  |L  52|D  64|L  15|W  55|L  31|W  61|W  50|

   ON | 12577178 / R: 1522   ->1444     |     |W    |B    |B    |W    |W    |B    |B    |

   31 | RISHI SHETTY                    |3.5  |L  58|D  55|W  64|L  10|W  30|W  50|L  14|

   MI | 15131618 / R: 1494   ->1444     |     |B    |W    |B    |W    |B    |W    |B    |

   32 | JOSHUA PHILIP MATHEWS           |3.5  |W  61|L   8|W  44|L  18|W  51|D  26|L  13|

   ON | 14073750 / R: 1441   ->1433     |N:4  |W    |B    |W    |B    |W    |B    |W    |

   33 | JADE GE                         |3.5  |W  60|L  12|W  50|D  36|L  13|L  15|W  51|

   MI | 14691842 / R: 1449   ->1421     |     |B    |W    |B    |W    |B    |W    |B    |

   34 | MICHAEL JEFFERY THOMAS          |3.5  |L   6|W  60|L  37|W  29|D  25|L  11|W  52|

   MI | 15051807 / R: 1399   ->1400     |     |B    |W    |B    |B    |W    |B    |W    |

   35 | JOSHUA DAVID LEE                |3.5  |L  46|L  38|W  56|L   6|W  57|D  52|W  48|

   MI | 14601397 / R: 1438   ->1392     |     |W    |W    |B    |W    |B    |B    |W    |

   36 | SIDDHARTH JHA                   |3.5  |L  13|W  57|W  51|D  33|H    |L  16|D  28|

   MI | 14773163 / R: 1355   ->1367     |N:4  |W    |B    |W    |B    |     |W    |B    |

   37 | AMIYATOSH PWNANANDAM            |3.5  |B    |L   5|W  34|L  27|H    |L  23|W  61|

   MI | 15489571 / R:  980P12->1077P17  |     |     |B    |W    |W    |     |B    |W    |

   38 | BRIAN LIU                       |3.0  |D  11|W  35|W  29|L  12|H    |L  18|L  15|

   MI | 15108523 / R: 1423   ->1439     |N:4  |W    |B    |W    |W    |     |B    |B    |

   39 | JOEL R HENDON                   |3.0  |L   1|W  54|W  40|L  16|W  44|L  21|L  24|

   MI | 12923035 / R: 1436P23->1413     |N:4  |B    |W    |B    |W    |B    |W    |W    |

   40 | FOREST ZHANG                    |3.0  |W  20|L  26|L  39|W  59|L  21|W  56|L  22|

   MI | 14892710 / R: 1348   ->1346     |     |B    |B    |W    |W    |B    |W    |W    |

   41 | KYLE WILLIAM MURPHY             |3.0  |W  59|L  17|W  58|L  20|X    |U    |U    |

   MI | 15761443 / R: 1403P5 ->1341P9   |     |B    |W    |B    |W    |     |     |     |

   42 | JARED GE                        |3.0  |L  12|L  50|L  57|D  60|D  61|W  64|W  56|

   MI | 14462326 / R: 1332   ->1256     |     |B    |W    |B    |B    |W    |W    |B    |

   43 | ROBERT GLEN VASEY               |3.0  |L  21|L  23|L  24|W  63|W  59|L  46|W  55|

   MI | 14101068 / R: 1283   ->1244     |     |W    |B    |W    |W    |B    |B    |W    |

   44 | JUSTIN D SCHILLING              |3.0  |B    |L  14|L  32|W  53|L  39|L  24|W  59|

   MI | 15323504 / R: 1199   ->1199     |     |     |W    |B    |B    |W    |B    |W    |

   45 | DEREK YAN                       |3.0  |L   5|L  51|D  60|L  56|W  63|D  55|W  58|

   MI | 15372807 / R: 1242   ->1191     |     |W    |B    |W    |B    |W    |B    |W    |

   46 | JACOB ALEXANDER LAVALLEY        |3.0  |W  35|L   7|L  27|L  50|W  64|W  43|L  23|

   MI | 15490981 / R:  377P3 ->1076P10  |     |B    |W    |B    |W    |B    |W    |W    |

   47 | ERIC WRIGHT                     |2.5  |L  18|W  24|L  21|W  61|L   8|D  51|L  25|

   MI | 12533115 / R: 1362   ->1341     |     |W    |B    |W    |B    |W    |B    |W    |

   48 | DANIEL KHAIN                    |2.5  |L  17|W  63|H    |D  52|H    |L  29|L  35|

   MI | 14369165 / R: 1382   ->1335     |     |B    |W    |     |B    |     |W    |B    |

   49 | MICHAEL J MARTIN                |2.5  |L  26|L  20|D  63|D  64|W  58|H    |U    |

   MI | 12531685 / R: 1291P12->1259P17  |     |W    |W    |B    |W    |B    |     |     |

   50 | SHIVAM JHA                      |2.5  |L  29|W  42|L  33|W  46|H    |L  31|L  30|

   MI | 14773178 / R: 1056   ->1111     |     |W    |B    |W    |B    |     |B    |W    |

   51 | TEJAS AYYAGARI                  |2.5  |L  27|W  45|L  36|W  57|L  32|D  47|L  33|

   MI | 15205474 / R: 1011   ->1097     |     |B    |W    |B    |W    |B    |W    |W    |

   52 | ETHAN GUO                       |2.5  |W  30|D  22|L  19|D  48|L  29|D  35|L  34|

   MI | 14918803 / R:  935   ->1092     |N:4  |B    |W    |B    |W    |B    |W    |B    |

   53 | JOSE C YBARRA                   |2.0  |H    |L  25|H    |L  44|U    |W  57|U    |

   MI | 12578849 / R: 1393   ->1359     |     |     |B    |     |W    |     |W    |     |

   54 | LARRY HODGE                     |2.0  |L  14|L  39|L  61|B    |L  15|L  59|W  64|

   MI | 12836773 / R: 1270   ->1200     |     |B    |B    |W    |     |W    |B    |W    |

   55 | ALEX KONG                       |2.0  |L  62|D  31|L  10|L  30|B    |D  45|L  43|

   MI | 15412571 / R: 1186   ->1163     |     |W    |B    |W    |B    |     |W    |B    |

   56 | MARISA RICCI                    |2.0  |H    |L  11|L  35|W  45|H    |L  40|L  42|

   MI | 14679887 / R: 1153   ->1140     |     |     |B    |W    |W    |     |B    |W    |

   57 | MICHAEL LU                      |2.0  |L   7|L  36|W  42|L  51|L  35|L  53|B    |

   MI | 15113330 / R: 1092   ->1079     |     |B    |W    |W    |B    |W    |B    |     |

   58 | VIRAJ MOHILE                    |2.0  |W  31|L   2|L  41|L  23|L  49|B    |L  45|

   MI | 14700365 / R:  917   -> 941     |     |W    |B    |W    |B    |W    |     |B    |

   59 | SEAN M MC CORMICK               |2.0  |L  41|B    |L   9|L  40|L  43|W  54|L  44|

   MI | 12841036 / R:  853   -> 878     |     |W    |     |B    |B    |W    |W    |B    |

   60 | JULIA SHEN                      |1.5  |L  33|L  34|D  45|D  42|L  24|H    |U    |

   MI | 14579262 / R:  967   -> 984     |     |W    |B    |B    |W    |B    |     |     |

   61 | JEZZEL FARKAS                   |1.5  |L  32|L   3|W  54|L  47|D  42|L  30|L  37|

   ON | 15771592 / R:  955P11-> 979P18  |     |B    |W    |B    |W    |B    |W    |B    |

   62 | ASHWIN BALAJI                   |1.0  |W  55|U    |U    |U    |U    |U    |U    |

   MI | 15219542 / R: 1530   ->1535     |     |B    |     |     |     |     |     |     |

   63 | THOMAS JOSEPH HOSMER            |1.0  |L   2|L  48|D  49|L  43|L  45|H    |U    |

   MI | 15057092 / R: 1175   ->1125     |     |W    |B    |W    |B    |B    |     |     |

   64 | BEN LI                          |1.0  |L  22|D  30|L  31|D  49|L  46|L  42|L  54|

   MI | 15006561 / R: 1163   ->1112     |     |B    |W    |W    |B    |W    |B    |B    |

In [10]:
# extract names, total point, opponent from the line with even number
names=[]
total_point=[]
opponent_1=[]
for i in range(2,len(lines),2):
    match=re.search('\| ([A-Z ]+\-?[A-Z]+) +\|',lines[i]) 
    match_2=re.search('\|(\d\.\d)',lines[i])
    match_3=re.findall('\|[A-Z].\s+(\d+)',lines[i])
    
    names.append(match.group(1))
    total_point.append(match_2.group(1))
    opponent_1.append(match_3)
        
        
#print(len(names))

In [11]:
# extract state, pre-rating, opponent from line with odd number
state=[]
pre_rating=[]
opponent_2=[]
for i in range(3,len(lines),2):
    #print(lines[i])
    match=re.search('[A-Z]{2}',lines[i]) 
    match_2=re.search('R:[\s]+([\dA-Z]+)',lines[i])
    match_3=re.findall('\|[A-Z].\s+(\d+)',lines[i])
    
    state.append(match.group(0))
    pre_rating.append(match_2.group(1))
    opponent_2.append(match_3)

In [12]:
#combine the opponents in all lines. all_opponent is a list contains 64 lists storing the No. of opponents for each player 
all_opponent=[]
for i in range(len(opponent_1)):
    if len(opponent_2)==0:
        all_opponent.append([int(g) for g in opponent_1[i]]) # transfer the number from string to interger
    else:
        lsall=opponent_1+opponent_2
        all_opponent.append([int(g) for g in lsall[i]]) # transfer the number from string to interger
#print(len(all_opponent))

In [13]:
# create a dictionary to retrieve the pre-rating for each player. key:the number of player；value: the pre-rating number
dic_prerating={}
for i in range(len(pre_rating)):
    dic_prerating[i+1]=pre_rating[i] # the number of player starts with 1

In [14]:
# calculate average rating of opponents for each player
ave=[]
for i in range(len(all_opponent)):
    rating=[] # store the pre-ratings of each opponent for each player
    for opponent in all_opponent[i]:
        match=re.search('[A-Z]+',dic_prerating[opponent]) # extract the first 4 digits of pre-rating, which has letters in
        if match:
            rating.append(int(dic_prerating[opponent][:match.span()[0]]))
        else:
            rating.append(int(dic_prerating[opponent]))
    #print(o_rating)
    ave.append(int(sum(rating)/len(rating)))

In [15]:
data=pd.DataFrame(list(zip(names,state,total_point,pre_rating,ave)),
                  columns=['Name','state','total points',
                           'pre-tournament rating','Average Pre Tournament Chess Rating of Opponents'])
data.to_csv('final_result.csv')

In [16]:
data

,Name,state,total points,pre-tournament rating,Average Pre Tournament Chess Rating of Opponents
0,GARY HUA,ON,6.0,1794,1605
1,DAKSHESH DARURI,MI,6.0,1553,1469
2,ADITYA BAJAJ,MI,6.0,1384,1563
3,PATRICK H SCHILLING,MI,5.5,1716,1573
4,HANSHI ZUO,MI,5.5,1655,1500
...,...,...,...,...,...
59,JULIA SHEN,MI,1.5,967,1330
60,JEZZEL FARKAS,ON,1.5,955P11,1327
61,ASHWIN BALAJI,MI,1.0,1530,1186
62,THOMAS JOSEPH HOSMER,MI,1.0,1175,1350
63,BEN LI,MI,1.0,1163,1263

## Part 2 - Attemp 2
Attempt 2 uses Pandas dataframes primarily as the basis for building the query. That is completely different from the approach taken in Attempt 1

In [17]:
# Read Text Files with Pandas using read_table()
# In this query, we are trying to determine what the original data looked like when we loaded it
  
# importing pandas
import pandas as pd
  
# read text file into pandas DataFrame
# for row%3 only retrieve "3" multiplier rows to consist the first table

df1 = pd.read_table("project1.txt", delimiter="|",header=1)
df1 = df1[df1.index%3 == 0]
# to remove the second row (header)
df1 = df1.iloc[1: , :]
df1.reset_index(inplace=True)
df1

,index,Pair,Player Name,Total,Round,Round.1,Round.2,Round.3,Round.4,Round.5,Round.6,
0,3,ON,15445895 / R: 1794 ->1817,N:2,W,B,W,B,W,B,W,NaN
1,6,MI,14598900 / R: 1553 ->1663,N:2,B,W,B,W,B,W,B,NaN
2,9,MI,14959604 / R: 1384 ->1640,N:2,W,B,W,B,W,B,W,NaN
3,12,MI,12616049 / R: 1716 ->1744,N:2,W,B,W,B,W,B,B,NaN
4,15,MI,14601533 / R: 1655 ->1690,N:2,B,W,B,W,B,W,B,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
59,180,MI,14579262 / R: 967 -> 984,,W,B,B,W,B,,,NaN
60,183,ON,15771592 / R: 955P11-> 979P18,,B,W,B,W,B,W,B,NaN
61,186,MI,15219542 / R: 1530 ->1535,,B,,,,,,,NaN
62,189,MI,15057092 / R: 1175 ->1125,,W,B,W,B,B,,,NaN
63,192,MI,15006561 / R: 1163 ->1112,,B,W,W,B,W,B,B,NaN

In [18]:
# for row%3 only retrieve "3" multiplier "+2" rows to consist the first table

df2 = pd.read_table("project1.txt", delimiter="|",header=1)
df2 = df2[df2.index%3==2]
df2.reset_index(inplace=True)
df2

,index,Pair,Player Name,Total,Round,Round.1,Round.2,Round.3,Round.4,Round.5,Round.6,
0,2,1,GARY HUA,6.0,W 39,W 21,W 18,W 14,W 7,D 12,D 4,NaN
1,5,2,DAKSHESH DARURI,6.0,W 63,W 58,L 4,W 17,W 16,W 20,W 7,NaN
2,8,3,ADITYA BAJAJ,6.0,L 8,W 61,W 25,W 21,W 11,W 13,W 12,NaN
3,11,4,PATRICK H SCHILLING,5.5,W 23,D 28,W 2,W 26,D 5,W 19,D 1,NaN
4,14,5,HANSHI ZUO,5.5,W 45,W 37,D 12,D 13,D 4,W 14,W 17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
59,179,60,JULIA SHEN,1.5,L 33,L 34,D 45,D 42,L 24,H,U,NaN
60,182,61,JEZZEL FARKAS,1.5,L 32,L 3,W 54,L 47,D 42,L 30,L 37,NaN
61,185,62,ASHWIN BALAJI,1.0,W 55,U,U,U,U,U,U,NaN
62,188,63,THOMAS JOSEPH HOSMER,1.0,L 2,L 48,D 49,L 43,L 45,H,U,NaN
63,191,64,BEN LI,1.0,L 22,D 30,L 31,D 49,L 46,L 42,L 54,NaN

In [19]:
# Combine two tables and rename the columns

result = pd.concat([df2, df1], axis=1)
result.columns = ['Delete1', 'Delete2', 'Player_Name','Total_Points','G1','G2','G3','G4','G5','G6','G7','Delete3','Delete4','State','PlayerId','N-score','WB1','WB2','WB3','WB4','WB5','WB6','WB7','Delete5']
#result = result.loc[ : , 0:2]
result.drop(['Delete1','Delete2','Delete3','Delete4','Delete5'], axis=1, inplace=True)
result

,Player_Name,Total_Points,G1,G2,G3,G4,G5,G6,G7,State,PlayerId,N-score,WB1,WB2,WB3,WB4,WB5,WB6,WB7
0,GARY HUA,6.0,W 39,W 21,W 18,W 14,W 7,D 12,D 4,ON,15445895 / R: 1794 ->1817,N:2,W,B,W,B,W,B,W
1,DAKSHESH DARURI,6.0,W 63,W 58,L 4,W 17,W 16,W 20,W 7,MI,14598900 / R: 1553 ->1663,N:2,B,W,B,W,B,W,B
2,ADITYA BAJAJ,6.0,L 8,W 61,W 25,W 21,W 11,W 13,W 12,MI,14959604 / R: 1384 ->1640,N:2,W,B,W,B,W,B,W
3,PATRICK H SCHILLING,5.5,W 23,D 28,W 2,W 26,D 5,W 19,D 1,MI,12616049 / R: 1716 ->1744,N:2,W,B,W,B,W,B,B
4,HANSHI ZUO,5.5,W 45,W 37,D 12,D 13,D 4,W 14,W 17,MI,14601533 / R: 1655 ->1690,N:2,B,W,B,W,B,W,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,JULIA SHEN,1.5,L 33,L 34,D 45,D 42,L 24,H,U,MI,14579262 / R: 967 -> 984,,W,B,B,W,B,,
60,JEZZEL FARKAS,1.5,L 32,L 3,W 54,L 47,D 42,L 30,L 37,ON,15771592 / R: 955P11-> 979P18,,B,W,B,W,B,W,B
61,ASHWIN BALAJI,1.0,W 55,U,U,U,U,U,U,MI,15219542 / R: 1530 ->1535,,B,,,,,,
62,THOMAS JOSEPH HOSMER,1.0,L 2,L 48,D 49,L 43,L 45,H,U,MI,15057092 / R: 1175 ->1125,,W,B,W,B,B,,
63,BEN LI,1.0,L 22,D 30,L 31,D 49,L 46,L 42,L 54,MI,15006561 / R: 1163 ->1112,,B,W,W,B,W,B,B

In [20]:
# Split pre-score by using split function

Prescore = result["PlayerId"].str.split(" +->").str[0].astype(str).str.split("R: +").str[1].str.split("P+").str[0]

result['Prescore'] = Prescore
result

,Player_Name,Total_Points,G1,G2,G3,G4,G5,G6,G7,State,PlayerId,N-score,WB1,WB2,WB3,WB4,WB5,WB6,WB7,Prescore
0,GARY HUA,6.0,W 39,W 21,W 18,W 14,W 7,D 12,D 4,ON,15445895 / R: 1794 ->1817,N:2,W,B,W,B,W,B,W,1794
1,DAKSHESH DARURI,6.0,W 63,W 58,L 4,W 17,W 16,W 20,W 7,MI,14598900 / R: 1553 ->1663,N:2,B,W,B,W,B,W,B,1553
2,ADITYA BAJAJ,6.0,L 8,W 61,W 25,W 21,W 11,W 13,W 12,MI,14959604 / R: 1384 ->1640,N:2,W,B,W,B,W,B,W,1384
3,PATRICK H SCHILLING,5.5,W 23,D 28,W 2,W 26,D 5,W 19,D 1,MI,12616049 / R: 1716 ->1744,N:2,W,B,W,B,W,B,B,1716
4,HANSHI ZUO,5.5,W 45,W 37,D 12,D 13,D 4,W 14,W 17,MI,14601533 / R: 1655 ->1690,N:2,B,W,B,W,B,W,B,1655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,JULIA SHEN,1.5,L 33,L 34,D 45,D 42,L 24,H,U,MI,14579262 / R: 967 -> 984,,W,B,B,W,B,,,967
60,JEZZEL FARKAS,1.5,L 32,L 3,W 54,L 47,D 42,L 30,L 37,ON,15771592 / R: 955P11-> 979P18,,B,W,B,W,B,W,B,955
61,ASHWIN BALAJI,1.0,W 55,U,U,U,U,U,U,MI,15219542 / R: 1530 ->1535,,B,,,,,,,1530
62,THOMAS JOSEPH HOSMER,1.0,L 2,L 48,D 49,L 43,L 45,H,U,MI,15057092 / R: 1175 ->1125,,W,B,W,B,B,,,1175
63,BEN LI,1.0,L 22,D 30,L 31,D 49,L 46,L 42,L 54,MI,15006561 / R: 1163 ->1112,,B,W,W,B,W,B,B,1163

In [21]:
# Split Opponent and each game result (win/lose/tie/skip) to the dataframe

G1WL = result["G1"].str.split(" ").str[0].astype(str)
G1Score = result["G1"].str.split("[A-Z] +").str[1].astype(str)

G2WL = result["G2"].str.split(" ").str[0].astype(str)
G2Score = result["G2"].str.split("[A-Z] +").str[1].astype(str)

G3WL = result["G3"].str.split(" ").str[0].astype(str)
G3Score = result["G3"].str.split("[A-Z] +").str[1].astype(str)

G4WL = result["G4"].str.split(" ").str[0].astype(str)
G4Score = result["G4"].str.split("[A-Z] +").str[1].astype(str)

G5WL = result["G5"].str.split(" ").str[0].astype(str)
G5Score = result["G5"].str.split("[A-Z] +").str[1].astype(str)

G6WL = result["G6"].str.split(" ").str[0].astype(str)
G6Score = result["G6"].str.split("[A-Z] +").str[1].astype(str)

G7WL = result["G7"].str.split(" ").str[0].astype(str)
G7Score = result["G7"].str.split("[A-Z] +").str[1].astype(str)


result['G1WL'] = G1WL
result['G1Score'] = G1Score
result['G2WL'] = G2WL
result['G2Score'] = G2Score
result['G3WL'] = G3WL
result['G3Score'] = G3Score
result['G4WL'] = G4WL
result['G4Score'] = G4Score
result['G5WL'] = G5WL
result['G5Score'] = G5Score
result['G6WL'] = G6WL
result['G6Score'] = G6Score
result['G7WL'] = G7WL
result['G7Score'] = G7Score
result

,Player_Name,Total_Points,G1,G2,G3,G4,G5,G6,G7,State,...,G3WL,G3Score,G4WL,G4Score,G5WL,G5Score,G6WL,G6Score,G7WL,G7Score
0,GARY HUA,6.0,W 39,W 21,W 18,W 14,W 7,D 12,D 4,ON,...,W,18,W,14,W,7,D,12,D,4
1,DAKSHESH DARURI,6.0,W 63,W 58,L 4,W 17,W 16,W 20,W 7,MI,...,L,4,W,17,W,16,W,20,W,7
2,ADITYA BAJAJ,6.0,L 8,W 61,W 25,W 21,W 11,W 13,W 12,MI,...,W,25,W,21,W,11,W,13,W,12
3,PATRICK H SCHILLING,5.5,W 23,D 28,W 2,W 26,D 5,W 19,D 1,MI,...,W,2,W,26,D,5,W,19,D,1
4,HANSHI ZUO,5.5,W 45,W 37,D 12,D 13,D 4,W 14,W 17,MI,...,D,12,D,13,D,4,W,14,W,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,JULIA SHEN,1.5,L 33,L 34,D 45,D 42,L 24,H,U,MI,...,D,45,D,42,L,24,H,,U,
60,JEZZEL FARKAS,1.5,L 32,L 3,W 54,L 47,D 42,L 30,L 37,ON,...,W,54,L,47,D,42,L,30,L,37
61,ASHWIN BALAJI,1.0,W 55,U,U,U,U,U,U,MI,...,U,,U,,U,,U,,U,
62,THOMAS JOSEPH HOSMER,1.0,L 2,L 48,D 49,L 43,L 45,H,U,MI,...,D,49,L,43,L,45,H,,U,
63,BEN LI,1.0,L 22,D 30,L 31,D 49,L 46,L 42,L 54,MI,...,L,31,D,49,L,46,L,42,L,54

In [22]:
# This query is to test the opponent number could be retrieved correctly and build the list

G1Score_List = []
for i in range(len(G1Score)):
    if G1Score[i] != 0:
        G1Score_List.append(G1Score[i])
    else: G1Score_List.append('')
print(G1Score_List)        

G2Score_List = []
for i in range(len(G2Score)):
    if G2Score[i] != 0:
        G2Score_List.append(G2Score[i])
    else: G2Score_List.append('')
print(G2Score_List)       

G3Score_List = []
for i in range(len(G3Score)):
    if G3Score[i] != 0:
        G3Score_List.append(G3Score[i])
    else: G3Score_List.append('')
print(G3Score_List)       

G4Score_List = []
for i in range(len(G4Score)):
    if G4Score[i] != 0:
        G4Score_List.append(G4Score[i])
    else: G4Score_List.append('')
print(G4Score_List)       

G5Score_List = []
for i in range(len(G5Score)):
    if G5Score[i] != 0:
        G5Score_List.append(G5Score[i])
    else: G5Score_List.append('')
print(G5Score_List)       

G6Score_List = []
for i in range(len(G6Score)):
    if G6Score[i] != 0:
        G6Score_List.append(G6Score[i])
    else: G6Score_List.append('')
print(G6Score_List)       

G7Score_List = []
for i in range(len(G7Score)):
    if G7Score[i] != 0:
        G7Score_List.append(G7Score[i])
    else: G7Score_List.append('')
print(G7Score_List)

['39', '63', '8', '23', '45', '34', '57', '3', '25', '16', '38', '42', '36', '54', '19', '10', '48', '47', '15', '40', '43', '64', '4', '28', '9', '49', '51', '24', '50', '52', '58', '61', '60', '6', '46', '13', '', '11', '1', '20', '59', '12', '21', '', '5', '35', '18', '17', '26', '29', '27', '30', '', '14', '62', '', '7', '31', '41', '33', '32', '55', '2', '22']
['21', '58', '61', '28', '37', '29', '46', '32', '18', '19', '56', '33', '27', '44', '16', '15', '41', '9', '10', '49', '1', '52', '43', '47', '53', '40', '13', '4', '6', '64', '55', '8', '12', '60', '38', '57', '5', '35', '54', '26', '17', '50', '23', '14', '51', '7', '24', '63', '20', '42', '45', '22', '25', '39', '31', '11', '36', '2', '', '34', '3', '', '48', '30']
['18', '4', '25', '2', '12', '11', '13', '14', '59', '55', '6', '5', '7', '8', '30', '', '26', '1', '52', '23', '47', '28', '20', '43', '3', '17', '46', '22', '38', '15', '64', '44', '50', '37', '56', '51', '34', '29', '40', '39', '58', '57', '24', '32', '60', '27', '21', '', '63', '33', '36', '19', '', '61', '10', '35', '42', '41', '9', '45', '54', '', '49', '31']
['14', '17', '21', '26', '13', '35', '11', '9', '8', '31', '7', '38', '5', '1', '22', '39', '2', '32', '28', '41', '3', '15', '58', '25', '24', '4', '37', '19', '34', '55', '10', '18', '36', '29', '6', '33', '27', '12', '16', '59', '20', '60', '63', '53', '56', '50', '61', '52', '64', '46', '57', '48', '44', '', '30', '45', '51', '23', '40', '42', '47', '', '43', '49']
['7', '16', '11', '5', '4', '10', '1', '47', '26', '6', '3', '', '33', '27', '54', '2', '23', '19', '18', '28', '40', '', '17', '60', '34', '9', '14', '20', '52', '31', '30', '51', '13', '25', '57', '', '', '', '44', '21', '', '61', '59', '39', '63', '64', '8', '', '58', '', '32', '29', '', '15', '', '', '35', '49', '43', '24', '42', '', '45', '46']
['12', '20', '13', '19', '14', '27', '9', '28', '7', '25', '34', '1', '3', '5', '33', '36', '22', '38', '4', '2', '39', '17', '37', '44', '10', '32', '6', '8', '48', '61', '50', '26', '15', '11', '52', '16', '23', '18', '21', '56', '', '64', '46', '24', '55', '43', '51', '29', '', '31', '47', '35', '57', '59', '45', '40', '53', '', '54', '', '30', '', '', '42']
['4', '7', '12', '1', '17', '21', '2', '19', '20', '18', '26', '3', '32', '31', '38', '', '5', '10', '8', '9', '6', '40', '46', '39', '47', '11', '', '36', '', '50', '14', '13', '51', '52', '48', '28', '61', '15', '24', '22', '', '56', '55', '59', '58', '23', '25', '35', '', '30', '33', '34', '', '64', '43', '42', '', '45', '44', '', '37', '', '', '54']

In [23]:
# Test running using Opponent / Player_Id to match the opponent name

a = []
for i in range(len(G1Score_List)):
    if G1Score_List[i] != "":
        a.append(result["Player_Name"][int(G1Score_List[i])-1])
    else: ''
print(a)

[' JOEL R HENDON                   ', ' THOMAS JOSEPH HOSMER            ', ' EZEKIEL HOUGHTON                ', ' ALAN BUI                        ', ' DEREK YAN                       ', ' MICHAEL JEFFERY THOMAS          ', ' MICHAEL LU                      ', ' ADITYA BAJAJ                    ', ' LOREN SCHWIEBERT                ', ' MIKE NIKITIN                    ', ' BRIAN LIU                       ', ' JARED GE                        ', ' SIDDHARTH JHA                   ', ' LARRY HODGE                     ', ' DIPANKAR ROY                    ', ' ANVIT RAO                       ', ' DANIEL KHAIN                    ', ' ERIC WRIGHT                     ', ' ZACHARY JAMES HOUGHTON          ', ' FOREST ZHANG                    ', ' ROBERT GLEN VASEY               ', ' BEN LI                          ', ' PATRICK H SCHILLING             ', ' SOFIA ADINA STANESCU-BELLU      ', ' STEFANO LEE                     ', ' MICHAEL J MARTIN                ', ' TEJAS AYYAGARI                  ', ' MICHAEL R ALDRICH               ', ' SHIVAM JHA                      ', ' ETHAN GUO                       ', ' VIRAJ MOHILE                    ', ' JEZZEL FARKAS                   ', ' JULIA SHEN                      ', ' HANSEN SONG                     ', ' JACOB ALEXANDER LAVALLEY        ', ' TORRANCE HENRY JR               ', ' CAMERON WILLIAM MC LEMAN        ', ' GARY HUA                        ', ' JASON ZHENG                     ', ' SEAN M MC CORMICK               ', ' KENNETH J TACK                  ', ' DINH DANG BUI                   ', ' HANSHI ZUO                      ', ' JOSHUA DAVID LEE                ', ' DAVID SUNDEEN                   ', ' RONALD GRZEGORCZYK              ', ' MAX ZHU                         ', ' CHIEDOZIE OKORIE                ', ' GAURAV GIDWANI                  ', ' GEORGE AVERY JONES              ', ' BRADLEY SHAW                    ', ' ASHWIN BALAJI                   ', ' GARY DEE SWATHELL               ', ' RISHI SHETTY                    ', ' KYLE WILLIAM MURPHY             ', ' JADE GE                         ', ' JOSHUA PHILIP MATHEWS           ', ' ALEX KONG                       ', ' DAKSHESH DARURI                 ', ' EUGENE L MCCLURE                ']

In [24]:
# Using above method and print opponent pre-game rating

R1Opponent_Prescore = []
for i in range(len(G1Score_List)):
    if G1Score_List[i] != '':
        R1Opponent_Prescore.append(result["Prescore"][int(G1Score_List[i])-1])
    else: R1Opponent_Prescore.append(0)
# print(R1Opponent_Prescore)

R2Opponent_Prescore = []
for i in range(len(G2Score_List)):
    if G2Score_List[i] != '':
        R2Opponent_Prescore.append(result["Prescore"][int(G2Score_List[i])-1])
    else: R2Opponent_Prescore.append(0)
# print(R2Opponent_Prescore)

R3Opponent_Prescore = []
for i in range(len(G3Score_List)):
    if G3Score_List[i] != '':
        R3Opponent_Prescore.append(result["Prescore"][int(G3Score_List[i])-1])
    else: R3Opponent_Prescore.append(0)
# print(R3Opponent_Prescore)


R4Opponent_Prescore = []
for i in range(len(G4Score_List)):
    if G4Score_List[i] != '':
        R4Opponent_Prescore.append(result["Prescore"][int(G4Score_List[i])-1])
    else: R4Opponent_Prescore.append(0)
# print(R4Opponent_Prescore)

R5Opponent_Prescore = []
for i in range(len(G5Score_List)):
    if G5Score_List[i] != '':
        R5Opponent_Prescore.append(result["Prescore"][int(G5Score_List[i])-1])
    else: R5Opponent_Prescore.append(0)
# print(R5Opponent_Prescore)


R6Opponent_Prescore = []
for i in range(len(G6Score_List)):
    if G6Score_List[i] != '':
        R6Opponent_Prescore.append(result["Prescore"][int(G6Score_List[i])-1])
    else: R6Opponent_Prescore.append(0)
# print(R6Opponent_Prescore)

R7Opponent_Prescore = []
for i in range(len(G7Score_List)):
    if G7Score_List[i] != '':
        R7Opponent_Prescore.append(result["Prescore"][int(G7Score_List[i])-1])
    else: R7Opponent_Prescore.append(0)
# print(R7Opponent_Prescore)

result['R1Opponent_Prescore'] = R1Opponent_Prescore
result['R2Opponent_Prescore'] = R2Opponent_Prescore
result['R3Opponent_Prescore'] = R3Opponent_Prescore
result['R4Opponent_Prescore'] = R4Opponent_Prescore
result['R5Opponent_Prescore'] = R5Opponent_Prescore
result['R6Opponent_Prescore'] = R6Opponent_Prescore
result['R7Opponent_Prescore'] = R7Opponent_Prescore

# Store the list to dataframe

result['R1Opponent_Prescore'] = result['R1Opponent_Prescore'].fillna(0)
result['R2Opponent_Prescore'] = result['R2Opponent_Prescore'].fillna(0)
result['R3Opponent_Prescore'] = result['R3Opponent_Prescore'].fillna(0)
result['R4Opponent_Prescore'] = result['R4Opponent_Prescore'].fillna(0)
result['R5Opponent_Prescore'] = result['R5Opponent_Prescore'].fillna(0)
result['R6Opponent_Prescore'] = result['R6Opponent_Prescore'].fillna(0)
result['R7Opponent_Prescore'] = result['R7Opponent_Prescore'].fillna(0)


result['R1Opponent_Prescore'] = result['R1Opponent_Prescore'].astype(int)
result['R2Opponent_Prescore'] = result['R2Opponent_Prescore'].astype(int)
result['R3Opponent_Prescore'] = result['R3Opponent_Prescore'].astype(int)
result['R4Opponent_Prescore'] = result['R4Opponent_Prescore'].astype(int)
result['R5Opponent_Prescore'] = result['R5Opponent_Prescore'].astype(int)
result['R6Opponent_Prescore'] = result['R6Opponent_Prescore'].astype(int)
result['R7Opponent_Prescore'] = result['R7Opponent_Prescore'].astype(int)


result

,Player_Name,Total_Points,G1,G2,G3,G4,G5,G6,G7,State,...,G6Score,G7WL,G7Score,R1Opponent_Prescore,R2Opponent_Prescore,R3Opponent_Prescore,R4Opponent_Prescore,R5Opponent_Prescore,R6Opponent_Prescore,R7Opponent_Prescore
0,GARY HUA,6.0,W 39,W 21,W 18,W 14,W 7,D 12,D 4,ON,...,12,D,4,1436,1563,1600,1610,1649,1663,1716
1,DAKSHESH DARURI,6.0,W 63,W 58,L 4,W 17,W 16,W 20,W 7,MI,...,20,W,7,1175,917,1716,1629,1604,1595,1649
2,ADITYA BAJAJ,6.0,L 8,W 61,W 25,W 21,W 11,W 13,W 12,MI,...,13,W,12,1641,955,1745,1563,1712,1666,1663
3,PATRICK H SCHILLING,5.5,W 23,D 28,W 2,W 26,D 5,W 19,D 1,MI,...,19,D,1,1363,1507,1553,1579,1655,1564,1794
4,HANSHI ZUO,5.5,W 45,W 37,D 12,D 13,D 4,W 14,W 17,MI,...,14,W,17,1242,980,1663,1666,1716,1610,1629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,JULIA SHEN,1.5,L 33,L 34,D 45,D 42,L 24,H,U,MI,...,,U,,1449,1399,1242,1332,1229,0,0
60,JEZZEL FARKAS,1.5,L 32,L 3,W 54,L 47,D 42,L 30,L 37,ON,...,30,L,37,1441,1384,1270,1362,1332,1522,980
61,ASHWIN BALAJI,1.0,W 55,U,U,U,U,U,U,MI,...,,U,,1186,0,0,0,0,0,0
62,THOMAS JOSEPH HOSMER,1.0,L 2,L 48,D 49,L 43,L 45,H,U,MI,...,,U,,1553,1382,1291,1283,1242,0,0
63,BEN LI,1.0,L 22,D 30,L 31,D 49,L 46,L 42,L 54,MI,...,42,L,54,1555,1522,1494,1291,377,1332,1270

In [25]:
final = []
abc = 0
count_0 = []
for i in range(len(R1Opponent_Prescore)):
    Count0 = (R1Opponent_Prescore[i] == 0)+ (R2Opponent_Prescore[i] == 0)+ (R3Opponent_Prescore[i] == 0)+ (R4Opponent_Prescore[i] == 0)+ (R5Opponent_Prescore[i] == 0)+ (R6Opponent_Prescore[i] == 0)+ (R7Opponent_Prescore[i] == 0)
    count_0.append(Count0)
    abc = result.R1Opponent_Prescore[i] + result.R2Opponent_Prescore[i]+ result.R3Opponent_Prescore[i]+ result.R4Opponent_Prescore[i]+ result.R5Opponent_Prescore[i]+ result.R6Opponent_Prescore[i]+ result.R7Opponent_Prescore[i]
    final.append(int(abc/(7-Count0)))
print(final, count_0)

[1605, 1469, 1563, 1573, 1500, 1518, 1372, 1468, 1523, 1554, 1467, 1506, 1497, 1515, 1483, 1385, 1498, 1480, 1426, 1410, 1470, 1300, 1213, 1357, 1363, 1506, 1221, 1522, 1313, 1144, 1259, 1378, 1276, 1375, 1149, 1388, 1384, 1539, 1429, 1390, 1248, 1149, 1106, 1327, 1152, 1357, 1392, 1355, 1285, 1296, 1356, 1494, 1345, 1206, 1406, 1414, 1363, 1391, 1319, 1330, 1327, 1186, 1350, 1263] [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 2, 1, 0, 0, 3, 0, 0, 1, 0, 0, 0, 2, 2, 1, 0, 0, 4, 1, 1, 2, 1, 1, 1, 2, 0, 6, 2, 0]

In [35]:
'''Player’s Name, Player’s State, Total Number of Points, Player’s Pre-Rating, and Average Pre Tournament Chess Rating of Opponents'''

Final_Output = pd.DataFrame()
Final_Output['Player\'s Name'] = result['Player_Name']
Final_Output['Player\'s State'] = result['State']
Final_Output['Total Number of Points'] = result['Total_Points']
Final_Output['Player\'s Pre-Rating'] = result['Prescore']
Final_Output['Average Pre Tournament Chess Rating of Opponents'] = final

Final_Output

,Player's Name,Player's State,Total Number of Points,Player's Pre-Rating,Average Pre Tournament Chess Rating of Opponents
0,GARY HUA,ON,6.0,1794,1605
1,DAKSHESH DARURI,MI,6.0,1553,1469
2,ADITYA BAJAJ,MI,6.0,1384,1563
3,PATRICK H SCHILLING,MI,5.5,1716,1573
4,HANSHI ZUO,MI,5.5,1655,1500
...,...,...,...,...,...
59,JULIA SHEN,MI,1.5,967,1330
60,JEZZEL FARKAS,ON,1.5,955,1327
61,ASHWIN BALAJI,MI,1.0,1530,1186
62,THOMAS JOSEPH HOSMER,MI,1.0,1175,1350
63,BEN LI,MI,1.0,1163,1263

In [37]:
# Save as csv file

import os  
os. getcwd()
os.makedirs('C:\\Users\\User\\Downloads', exist_ok=True)  
Final_Output.to_csv('C:\\Users\\User\\Downloads/out.csv')